<h2>Find out if one word is an Anagram to another!</h2>
  <form action="/output">
    <div class="form-group">
      <label for="starting_word">Enter your word to be compared to.</label>
      <input id="starting_word" name="starting_word" class="form-control" type="text">
      <p>Now enter all of the words you want to compare.</p>
      <label for="compared_word1">Enter a word to be compared.</label>
      <input id="compared_word1" name="compared_word1" class="form-control" type="text">

      <label for="compared_word2">Enter a word to be compared.</label>
      <input id="compared_word2" name="compared_word2" class="form-control" type="text">

      <label for="compared_word3">Enter a word to be compared.</label>
      <input id="compared_word3" name="compared_word3" class="form-control" type="text">

      <label for="compared_word4">Enter a word to be compared.</label>
      <input id="compared_word4" name="compared_word4" class="form-control" type="text">

      <label for="compared_word5">Enter a word to be compared.</label>
      <input id="compared_word5" name="compared_word5" class="form-control" type="text">

    </div>
    <button id="submit" type="submit" class="btn-success">Find your Answers!</button>
  </form>
